mcp[cli]
pydantic_settings
langchain-core
langchain-ollama
langchain-text-splitters
langchain-mcp-adapters
langgraph
langgraph-supervisor
langgraph-checkpoint-sqlite
arxiv
requests
colorlog
fuzzyfinder
python-dateutil
pymupdf
pymupdf4llm